/*
 * @Author: zxd 
 * @Date: 2019-10-17 17:25:08 
 * @Last Modified by: zxd
 * @Last Modified time: 2019-10-18 11:04:04
 */

/* 版型容器 */
.jd_container {
    width: 100%;
    /* 640 和设计稿的大小有关系 */
    /* psd图 640px大小的设计稿  750px大小的设计稿*/
    /* 
     640px宽度是早期标准  标准参考设备  iphone4 (宽度是320 屏幕像素比是2 所以是640)
     750px宽度是现在标准  标准参考设备  iphone6 (宽度是375 屏幕像素比是2 所以是750)
    */

    max-width: 640px;
    /* 基于设计稿,目的不失真 */
    min-width: 320px;
    /* 保证网页内容布局*/


    margin: 0 auto;
}

.jd_search {
    position: fixed;
    /*基准是浏览器的宽度 基于默认的原来位置开始定位,加上top,left值能改变*/
    top: 0;
    left: 0;
    width: 100%;
}

.jd_search .js_search_box {
    width: 100%;
    height: 40px;
    max-width: 640px;
    min-width: 320px;
    background: red;
    height: 40px;
    margin: 0 auto;
}